/*! CSS Used from: https://vicrh.github.io/keiko-corp/css/bootstrap.css */
section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
h1{margin:.67em 0;font-size:2em;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
p{orphans:3;widows:3;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
h1{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h1{margin-top:20px;margin-bottom:10px;}
h1{font-size:36px;}
p{margin:0 0 10px;}
.text-lowercase{text-transform:lowercase;}
.text-uppercase{text-transform:uppercase;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:768px){
.container{width:750px;}
}
@media (min-width:992px){
.container{width:970px;}
}
@media (min-width:1200px){
.container{width:1170px;}
}
.container:after,.container:before{display:table;content:" ";}
.container:after{clear:both;}
/*! CSS Used from: https://vicrh.github.io/keiko-corp/css/animate.css */
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft;}
/*! CSS Used from: https://vicrh.github.io/keiko-corp/css/main.css */
section{background:#fffcfc;}
a:focus{color:#fff!important;text-decoration:none!important;}
.container{max-width:1130px;}
.hero{display:block;position:relative;width:100%;height:560px;background:url('https://vicrh.github.io/keiko-corp/img/hero.jpg') no-repeat fixed center center;background-size:cover;}
.hero .caption{position:absolute;max-width:550px;margin-left:80px;top:50%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);}
.hero .caption h1{color:#525252;font-family:"open_bold", Helvetica, Arial, sans-serif;font-size:34px;font-weight:bold;word-break:break-word;}
.hero .caption p{color:#6d6c6c;font-family:"open_regular", Helvetica, Arial, sans-serif;font-size:16px;line-height:30px;margin:15px 0 35px 0;}
a.app_store_btn{display:inline-block;text-decoration:none;padding:15px 40px;border:2px solid #525252;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;margin:20px 20px 10px 0;color:#525252;font-family:"open_semibold", Helvetica, Arial, sans-serif;font-size:16px;}
.android_icon,.iphone_icon{display:inline-block;width:16px;height:16px;vertical-align:middle;margin-right:20px;margin-bottom:3px;}
.iphone_icon{background:url('https://vicrh.github.io/keiko-corp/img/iphone_app.png') no-repeat;}
.android_icon{background:url('https://vicrh.github.io/keiko-corp/img/android_app.png') no-repeat;}
a.app_store_btn:hover,a.app_store_btn:focus{border-color:#41c27d;color:#41c27d!important;}
a.app_store_btn:hover .iphone_icon{background:url('https://vicrh.github.io/keiko-corp/img/iphone_app_hover.png') no-repeat;}
a.app_store_btn:hover .android_icon{background:url('https://vicrh.github.io/keiko-corp/img/android_app_hover.png') no-repeat;}
a.app_store_btn,.iphone_icon,.android_icon{transition:all .2s linear;-o-transition:all .2s linear;-moz-transition:all .2s linear;-webkit-transition:all .2s linear;}
.enhance{color:white;text-transform:uppercase;padding:4px;font-size:1.4em;font-weight:bolder;}
@media (max-width: 767px){
.hero .caption{margin-left:0;}
.app_store_btn{display:block;width:90%;padding-left:0;padding-right:0;text-align:center;}
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-20px);transform:translateX(-20px);}100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}}
@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-20px);-ms-transform:translateX(-20px);transform:translateX(-20px);}100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}}
/*! CSS Used fontfaces */
@font-face{font-family:'open_bold';src:url('https://vicrh.github.io/keiko-corp/fonts/opensans-bold.eot');src:url('https://vicrh.github.io/keiko-corp/fonts/opensans-bold.eot#iefix') format('embedded-opentype'),           url('https://vicrh.github.io/keiko-corp/fonts/opensans-bold.woff') format('woff'),           url('https://vicrh.github.io/keiko-corp/fonts/opensans-bold.ttf') format('truetype'),           url('https://vicrh.github.io/keiko-corp/fonts/opensans-bold.svg#LatoRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'open_regular';src:url('https://vicrh.github.io/keiko-corp/fonts/opensans-regular.eot');src:url('https://vicrh.github.io/keiko-corp/fonts/opensans-regular.eot#iefix') format('embedded-opentype'),           url('https://vicrh.github.io/keiko-corp/fonts/opensans-regular.woff') format('woff'),           url('https://vicrh.github.io/keiko-corp/fonts/opensans-regular.ttf') format('truetype'),           url('https://vicrh.github.io/keiko-corp/fonts/opensans-regular.svg#LatoRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'open_semibold';src:url('https://vicrh.github.io/keiko-corp/fonts/opensans-semibold.eot');src:url('https://vicrh.github.io/keiko-corp/fonts/opensans-semibold.eot#iefix') format('embedded-opentype'),           url('https://vicrh.github.io/keiko-corp/fonts/opensans-semibold.woff') format('woff'),           url('https://vicrh.github.io/keiko-corp/fonts/opensans-semibold.ttf') format('truetype'),           url('https://vicrh.github.io/keiko-corp/fonts/opensans-semibold.svg#open_sanssemibold') format('svg');font-weight:normal;font-style:normal;}